<template>
    <div id="trivia-question">
        <h4>Question #{{question.id}}:</h4>
        <p>"{{question.question}}"</p>
    </div>
</template>

<script>
    export default {
        name: 'TriviaQuestion',
        props: ['question', 'answer']
    }
</script>

<style scoped>
    #trivia-question{
        
    }
</style>