<template>
    <div id="trivia-board">
        <h1>Trivia</h1>
        <TriviaQuestion :question="questions[index]"/>
        <div id="buttons">
            <button id="btn-true" @click="buttonClick(true)">True</button>
            <button id="btn-false" @click="buttonClick(false)">False</button>
        </div>
        <span>{{message}}</span>
    </div>
</template>

<script>
import TriviaQuestion from './TriviaQuestion';

export default {
    name: 'TriviaBoard',
    components:{
        TriviaQuestion
    },
    data(){
        return{
            questions:[
                {
                    id: 1,
                    question: 'Karrigan is the IGL for Fnatic',
                    answer: false
                },
                {
                    id: 2,
                    question: 'S1mple is widely regarded as the best player in the world',
                    answer: true
                },
                {
                    id: 3,
                    question: 'Astralis has won less than 3 majors',
                    answer: false
                },
                {
                    id: 4,
                    question: 'Cloud 9 is the first North American team to win a major',
                    answer: true
                },
                {
                    id: 5,
                    question: 'No brazilian team has ever won a major',
                    answer: false
                },
                {
                    id: 6,
                    question: 'Rain is the famous awper for team Vitality',
                    answer: false
                },
                {
                    id: 7,
                    question: 'Atralis is as of now, the world best team EVER',
                    answer: true
                },
                {
                    id: 8,
                    question: '1 + 1 = 3',
                    answer: false
                },
                {
                    id: 9,
                    question: '1',
                    answer: true
                },
                {
                    id: 10,
                    question: 'The earth is flat',
                    answer: false
                }
            ],
            score: 0,
            index: 0,
            message: ''
        }
    },
    methods:{
        next(){
            this.index++;
        },
        buttonClick(answer){
            if(answer === this.questions[this.index].answer){
                    this.score++;
            }

            if(this.index < this.questions.length - 1){
                this.next();
            }
            else{
                this.$router.push({
                            name: 'End',
                            params: {
                                score: this.score
                            }});
            }
        }

    }
}
</script>

<style scoped>
    #trivia-board{
        max-width: 500px auto;
        width: 50%;
        border: 1px solid #333;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
        padding: 25px;
    }
</style>