<template>
    <div id="trivia-end">
        <h1>The End</h1>
        <p>{{game.message}}</p>
        <img :src='game.image' width="500px"/>
    </div>
</template>

<script>
export default {
    name: 'End',
    data(){
        return{
            game: {
                score: this.$route.params.score,
                wonGame: false,
                message: 'Im sorry you failed the game',
                image: 'https://cdn.shopify.com/s/files/1/1061/1924/products/Sad_Face_Emoji_large.png?v=1480481055'
            }
        }
    },
    mounted(){
        if(this.game.score > 8){
            this.game.wonGame = true;
            this.game.message = 'You are the trivia master!!!!';
            this.game.image = 'https://www.searchpng.com/wp-content/uploads/2018/12/Trophy-png.png';
        }
        else if(this.game.score > 5){
            this.game.wonGame = true;
            this.game.message = 'Hurray! You won the game! But you are no master ;)';
            this.game.image = 'https://scatteredquotes.com/wp-content/uploads/2018/01/StarWars-RevengeoftheSith-4.jpg';
        }
    }
}
</script>

<style scoped>

</style>