<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script>
import TriviaBoard from './components/TriviaBoard';

export default {
  name: 'app',
  components: {
    TriviaBoard
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

html body{
  background: linear-gradient(to right bottom, #09c8c8, #06b49a, #2d9e6b, #43873d, #506f0b);
  background-attachment: fixed;
}
</style>
